body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/photos/towerFireworks.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("/photos/monkey-wait.jpg");
    min-height: 50%;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("/photos/nyc-skyline.jpg");
    min-height: 50%;
}

.bgimg-4 {
	background-image: url("/photos/ed-and-i.jpg");
	min-height: 50%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

p.announcment {
    width: 400px;
    word-wrap: break-word;
    text-align: center;
}

#utemblem {
    width: 400px;
    text-align:center;
}
